@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundBox {
  min-width: 459px;
  min-height: 205px;
  background-image: url(../public/box-path.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #27272A;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fugaz);
  text-transform: uppercase;
}

.post-style {
  @apply flex flex-col gap-4;

}

.post-style p {
  text-indent: 2rem;
  font-size: 1.25rem;
  text-align: justify;
}

.post-style h1 {
  @apply mt-4;
  font-size: 4rem;
}

.post-style h2,h3,h4 {
  @apply mt-4;
  font-size: 1.5rem;
}